/* ------------------- Indicate required items ------------------------------------------------ */
span.flag::before {
    color: firebrick;
    content: '*';
}

span.flag.valid::before,
:valid + span.flag::before,  
:valid + label + span.flag::before {
    color: green;
    content: '✓';
}

/* for the key at the top */
ul.validity {
    list-style-type: none;
    padding-inline-start: 0;
}

.invalid {
    color: firebrick;
}

.valid {
    color: green;
}
