body {
    background-image: url('SeemlessBackground.jpg');
    background-size: auto 150%;
    background-position: absolute;
    text-align: center;
    line-height: 100%;
}

table {
    border-collapse: collapse; width: 75%;
    border: 3px solid rgb(66, 51, 24);
}

th {
    border: 2px solid rgb(66, 51, 24);
    background-color: rgba(204, 155, 64, 0.637);
    background-attachment: fixed;
    color:rgb(66, 51, 24);
}

td {
    border: .5px solid  rgb(66, 51, 24);
    background-color: rgba(204, 155, 64, 0.637);
    background-attachment: fixed;
    font-weight: 1000;
    color:rgb(66, 51, 24);
}

a {
    color:rgb(224, 200, 146);
}

img {
    max-width: 100px;
    max-height: 100px;
    filter: brightness(0);
}

h1 {
    font-size: 40px;
    padding-right: 20px;
    line-height: 100%;
    color:rgb(224, 200, 146);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(224, 200, 146);
}

pre, p, li, dl{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 150%;
    color:rgb(66, 51, 24);
    font-weight: bold;
}

p {
    background-color: rgba(204, 155, 64, 0.637);
    border-radius: 2ex;
    margin-left: 4em;
    margin-right: 4em;
    padding: 0ex 2ex 0ex 2ex;
}

dl > dt, dd {
    line-height: 150%;
}

.introduction {
    background-color:rgba(204, 155, 64, 0.637);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-left: 4em;
    margin-right: 4em;
    padding: 1ex 2ex 1ex 2ex;
    border-radius: 2ex;
}

.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0ex 2ex 0ex 2ex;
    background-color: rgba(204, 155, 64, 0.637);
    background-attachment: fixed;
    border-radius: 2ex;
    border: thick dotted rgb(66, 51, 24);
}

.interested, .genres, .definitions {
    display: table;
    margin: 0 auto;
    text-align: left;
    line-height: 150%;
    background-color: rgba(204, 155, 64, 0.637);
    border-radius: 2ex;
    padding-right: 2ex;
}

.definitions {
    padding-left: 5%;
}

.genres > ul > li + ol, .genres > ul > li > ol{
    list-style-type: upper-roman;
}

.recommendations {
    margin-left: auto;
    margin-right: auto;
}

.artwork {
    background-color: rgba(204, 155, 64, 0.637);
    border-radius: 2ex;
    margin: 2ex;
    padding: 1ex 2ex 1ex 2ex;
    border-radius: 2ex;
    color:rgb(224, 200, 146);
}

.quote {
    background-color: rgba(204, 155, 64, 0.637);
    border-radius: 2ex;
}

.firstfloat {
    float: center;
    position: relative;
    background-color: rgb(204, 155, 64);
    left:55ex;
    bottom: -30ex;
}

.secondfloat {
    float: left;
    position: absolute;
    margin-left: 100px;
    margin-top:75px;
    background-color: rgb(204, 155, 64);
}

