body {
    background-color: aliceblue;
}

h1, h2 {
    text-align: center;
    padding-bottom: 2px;
    color: cadetblue;
}

div {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.beginning label {
    background-color:rgb(86, 134, 136);
}

